h1 {
    margin: 1rem 1rem 1rem;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Vidaloka', 'Prata',serif;
}
img {
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

body{
    background-color: #A60D29;
}
li{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagens img{
    height: 5rem;
    width: auto;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 6rem;
    border-top: .1rem solid black;
    background-color: white;
}
.linha2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.linha2 li{
    display: flex;
    justify-content: center;
    width: 25%;
    border-right: 3px solid black;
    padding: 0.5rem;
    background-color: #477E44;

}

.linha2 a{
    display: flex;
    justify-content: center;
}

.arte_2{
    width: 5rem;
    height: 5rem;
}