

.coluna1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10rem;
    padding-top: 2rem;
}

.arte_1{
    width: 40%;
    height: auto;
    margin: 1.5rem;
}


.coluna2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10rem;
    padding-top: 2rem;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #00A9CA;
}
header{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 4rem;
    border-bottom: .1rem solid black;
    background-color: #A60D29;
    font-size: 1.5rem;
    padding: 2rem;
}

header h1{
    position: absolute;
    bottom: 10%;
    right: 161rem;
    
}

.linha1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem;
    justify-content: center;
}


.linha2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.linha2 li{
    display: flex;
    justify-content: center;
    width: 25%;
    border-right: 3px solid black;
    padding: 0.5rem;
}

.linha2 li{
    display: flex;
    justify-content: center;
    width: 25%;
    border-right: 3px solid black;
    padding: 0.5rem;
}


footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 4.4rem;
    border-top: .1rem solid black;
    background-color: #477E44;
}



.arte_2{
    width: 3.8rem;
    height: 3.8rem;
}

.img_0{
    width: 5rem;
    height: 5rem;

}
